body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  background-attachment:fixed;
  align-items: center;
  background-size: cover;
  background-position: center;
}

html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*Começo do Cabeçalho*/
.cabecalho1 {
  background: #1a1a1a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.cabecalho1 img {
  width: 150px ;
  height: 150px ;
   opacity: 0.55;
  
}
.cabecalho1 nav a:hover{
    color: rgb(62, 131, 221);;
    transition: 0.3s;
}

nav { 
 margin-left: auto;

}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

nav a {
text-decoration: none;
align-items: right;
color: white;
}
/*Fim do Cabeçalho*/

/*começo do rodapé*/
footer {
    display:center;
}

.footer-top {
    text-align: center;
    background-color: #1a1a1a;
    color: white;
    padding: 15px;
    border-radius: 0px;
}

.footer-bottom {
    text-align: center;
    background-color:black;
    color: white;
    padding: 15px;
    border-radius: 0px;
}


.rodape {
    background-color: rgba(2, 2, 46, 0.589);
    color: white;
    padding: 80px 10%;
}

.rodape-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.coluna {
    flex: 1;
}

.coluna h3 {
    color: rgb(62, 131, 221);
    margin-bottom: 20px;
}

.coluna p {
    margin: 10px 0;
    font-size: 20px;
    
}

.coluna a {
    color: white;
    text-decoration: none;
}
.i i{
    color: rgb(62, 131, 221);;
}

.i p{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
}

.logo-centro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-centro img {
    width: 300px;
    opacity: 0.15; /* deixa a logo transparente */
}

.redes {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.redes a {
    font-size: 35px;
}
.redes i {
    font-size: 30px;
}

.redes i:hover {
    color: rgb(62, 131, 221)!important;
    transition: color 0.3s !important ;
    cursor: pointer;
}
/*final do rodapé*/